*{
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}
body{
  width: 100%;
  background-color: white;
  font-size: 24px;
  font-stretch: normal;
  line-height: 135%;
}
.container {
  width: 100%;
  margin: 0 auto;
  clear: both;
  background-color: white;
}
.flexContainerColumn {
  display: flex;
  flex-direction: column;
}
.logo{
	text-align: left;
}
h1{
  text-align: center;
}
header{
  width: 100%;
  padding: 3%;
  font-size: 50px;
  background-color: white;
  color:black;
  text-align: center;
}
 header #logo{
  float: left;
  margin-top: -32px;
}
#menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-top: 0;
  background-color: black;
}
#menu a {
  color: whitesmoke;
}
#menu li {
  list-style-type: none;
}
#menu li a:hover {
  color: lightpink;
}
section p{
  color: dimgrey;
}
.price{
  color: darkred;
}
.review{
  background-color: whitesmoke;
  border: 2px solid black;
  height: 200px;
}
footer{
  width: 98%;
  float: left;
  padding: 1%;
  background-color: black;
  margin-top: 10px;
  color: whitesmoke;
}
footer span{
  color: whitesmoke;
}
@media screen and (orientation: landscape) and (min-width: 480px){
  .container{
    width: 960px;
  }
  #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
}